<% provide(:title, "Duelingpets: Colorschemes") %>
<% provide(:description, "Come check out the latest newest colorschemes from our talented designers.") %>
<% provide(:keywords, "virtualpet, digitalpets, colorschemes, designer") %>
<% provide(:robots, "index, follow") %>
<%# provide(:h1, displayColorOwner) %>
<% if(@colorschemes.count >= 10) %>
   <div class="formlinks"><%= paginate @colorschemes %></div>
   <br>
<% end %>
<% @colorschemes.each do |colorscheme| %>
   <div class="largeimagecontainer">
      <p><%= link_to colorscheme.name, user_colorscheme_path(colorscheme.user, colorscheme) %></p>
      <p><%#= image_tag(url_for(colorscheme.image), class: "fitlargeimage") %></p>
   </div>
<% end %>
