<% provide(:title, "Duelingpets: Colorscheme #{@colorscheme.name}") %>
<% provide(:description, "Check out #{@colorscheme.user}'s amazing pallets.") %>
<% provide(:keywords, "virtualpet, digitalpets, colorschemes") %>
<% provide(:robots, "index, follow") %>
<% provide(:h1, @colorscheme.name) %>
<p id="notice"><%= notice %></p>
<p>Selection of colors goes here!</p>
