<% provide(:title, "Duelingpets: Element #{@element.name}") %>
<% provide(:description, "Check out #{@element.user}'s amazing elements.") %>
<% provide(:keywords, "virtualpet, digitalpets, element") %>
<% provide(:robots, "index, follow") %>
<% provide(:h1, @element.name) %>
<p id="notice"><%= notice %></p>
<div class="fitsmallimages">
   <p><%= image_tag(url_for(@element.image), class: "fitsmallimages") %></p>
</div>
