<% provide(:title, "Duelingpets: Gviewers") %>
<% provide(:description, "Generic viewers allows users to determine who can view their galleries, channels, radiostations, and books.") %>
<% provide(:keywords, "virtualpet, digitalpets, viewers") %>
<% provide(:robots, "noindex, nofollow") %>
<% provide(:h1, "Gviewer List") %>
<% @gviewers.each do |gviewer| %>
   <div class="pageformat">
      <p>Type: <%= gviewer.name %></p>
      <p>Created on: <%= distance_of_time_in_words_to_now gviewer.created_on %> ago on (<%= gviewer.created_on.strftime("%B-%d-%Y") %>)</p>
   </div>
   <br>
<% end %>
<p class="formlinks"><%= link_to 'Back', root_path %></p>
