<% provide(:title, "Duelingpets: Subplaylist #{@subplaylist.title}") %>
<% provide(:description, "Check out #{@subplaylist.user}'s amazing movies.") %>
<% provide(:keywords, "virtualpet, digitalpets, movies") %>
<% provide(:robots, "index, follow") %>
<% provide(:h1, @subplaylist.title) %>
<p id="notice"><%= notice %></p>
<% @movies.each_with_index do |movie, index| %>
   <div class="videocontainer">
      <p><%= link_to movie.title, subplaylist_movie_path(movie.subplaylist, movie) %></p>
      <% if(displayVideo(movie, "movie")) %>
         <p><%= video_tag(url_for(displayVideo(movie, "movie").clip), poster: "#{url_for(displayVideo(movie, "movie").thumbnail)}", class: "fitvideo", :controls => true) %></p>
      <% else %>
         <p>There are no Movies to display!</p>
      <% end %>
   </div>
<% end %>
