<% provide(:title, "Duelingpets: Blogtype") %>
<% provide(:description, "Determines the type of blog that the user has created.") %>
<% provide(:keywords, "virtualpet, digitalpets, blog") %>
<% provide(:robots, "noindex, nofollow") %>
<% provide(:h1, "Blogtype List") %>
<% @blogtypes.each do |blogtype| %>
   <div class="pageformat">
      <p>Type: <%= blogtype.name %></p>
      <p>Created on: <%= distance_of_time_in_words_to_now blogtype.created_on %> ago on (<%= blogtype.created_on.strftime("%B-%d-%Y") %>)</p>
   </div>
   <br>
<% end %>
<p class="formlinks"><%= link_to 'Back', root_path %></p>
