<% provide(:title, "Duelingpets: About Us") %>
<% provide(:description, "Welcome to our amazing website.") %>
<% provide(:keywords, "virtualpet, digitalpets, duelingpets") %>
<% provide(:robots, "index, follow") %>
<% provide(:h1, "About Us") %>
<div class="pageformat">
   <p><%= image_tag(displayGreeter("Aboutus").art_url(:thumb)) %></p>
   <p class="textindent"><%= textFormater("Multi", displayGreeter("Aboutus").message, "All").html_safe %></p>
</div>
