<% provide(:title, "Duelingpets: Maintenance") %>
<% provide(:description, "Allows the Admin to perform maintenance on the website.") %>
<% provide(:keywords, "virtualpet, digitalpets, maintenance") %>
<% provide(:robots, "noindex, nofollow") %>
<% provide(:h1, "Routine Maintenance") %>
<div class="pageformat">
   <p>Duelingpets is being taken down for some routine maintenance. I will be looking
      over it for possible bugs or to potentially add some new features. The site will
      be back up again, so no worries. This will probably take several hours up to
      a week or two at most.
   </p>
   <p>In the meantime take some time to relax. I will send out an email letting the
      users know when I am finished with the routine maintenance. Its a neccessary
      step for me to ensure that the website itself remains playable and doesn't bug
      out all too much. I appreciate all of your patience during this time and hope
      to see you again when the website returns.
   </p>
</div>
