<p class="navtext">Features</p>
<p><%= link_to "Home", root_path %></p>
<p>Economy</p>
<p><%= link_to "News", blogs_path %></p>
<p>Barter</p>
<br>
<p>Content</p>
<p><%= link_to "Colorschemes", colorschemes_path%></p>
<p><%= link_to "OCs", ocs_path %></p>
<p>Battle gear</p>
<p>Studio</p>
