<% provide(:title, "Duelingpets: Missingpage") %>
<% provide(:description, "Maybe the page you were looking for got lost along the way.") %>
<% provide(:keywords, "virtualpet, digitalpets") %>
<% provide(:robots, "index, follow") %>
<% provide(:h1, "Missingpage") %>
<% if current_user %>
   <p class="pageformat"><%= playMusicLoop("Missing", nil) %></p>
<% end %>
<div class="pageformat">
   <p>Hmm that is strange the page you were looking for appears to have vanished off the face of the earth.</p>
   <p>However not to worry I found something most pecular that might tickle your fancy that is if I can find it.</p>
   <p>Let see now where did I put that thing?</p>
   <p>Ahh here it is I finally found the page you were looking for all along.</p>
</div>
<br>
<p class="formlinks"><%= link_to 'Back', root_path %></p>
