<% provide(:title, "Duelingpets: Bookgroup") %>
<% provide(:description, "Determines what bookgroup the user and his content belong to.") %>
<% provide(:keywords, "virtualpet, digitalpets, bookgroup, content") %>
<% provide(:robots, "noindex, nofollow") %>
<% provide(:h1, "Bookgroup List") %>
<% @bookgroups.each do |bookgroup| %>
   <div class="pageformat">
      <p>Group: <%= bookgroup.name %></p>
      <p>Created on: <%= distance_of_time_in_words_to_now bookgroup.created_on %> ago on (<%= bookgroup.created_on.strftime("%B-%d-%Y") %>)</p>
   </div>
   <br>
<% end %>
<p class="formlinks"><%= link_to 'Back', root_path %></p>
