<% provide(:title, "Duelingpets: Artwork #{@art.title}") %>
<% provide(:description, "Check out #{@art.user}'s amazing artwork.") %>
<% provide(:keywords, "virtualpet, digitalpets, artwork") %>
<% provide(:robots, "index, follow") %>
<% provide(:h1, @art.title) %>
<p id="notice"><%= notice %></p>
<p class="fitlargeimages"><%= image_tag(url_for(@art.image), class: "fitlargeimages") %></p>
