<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <h1>New contact created!</h1>
      <p>So this fellow <%= @name %> has taken the time to
         contact the admin and provided his email
         address: <%= @email %>. He has written a question
         that he like to know a bit more about.
      </p>
      <p>Question: <%= @subject %></p>
      <p>Message: <%= @body %></p>
      <br>
      <p>Please take the time to read over this question
         and answer it in your own time. They have decided
         to reach out to you.
      </p>
      <br>
      <p>Your friend Glitchy the Dragon</p>
   </body>
</html>
